<div class="panel mb-5">
	<h2>Groepsfase</h2>

	<table class="table">
		<thead>
			<tr>
				<th class="col-md-3">Groep</th>
				<th class="col-md-6">Landen</th>
				<th class="col-md-3">Compleet</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let group of groups">
				<td [routerLink]="['/group', group.groupID | lowercase ]">Groep {{ group.groupID }}</td>
				<td [routerLink]="['/group', group.groupID | lowercase ]"><span *ngFor="let country of group.countries ; let isLast=last">{{ country.countryName }}<span *ngIf="!isLast">, </span></span></td>
				<td [routerLink]="['/group', group.groupID | lowercase ]">
					<span *ngIf="group.completed" class="text-success"><i class="bi bi-check-circle"></i> Compleet</span>
					<span *ngIf="!group.completed" class="text-danger"><i class="bi bi-x-circle"></i> Niet compleet</span>
				</td>
			</tr>
		</tbody>
	</table>
</div>
