<select #game id="{{ match.formID }}" name="{{ match.formID }}" class="form-select" (change)='onSelected(game.value)'>
	<option value="">&lt;Kies land&gt;</option>
	<option *ngFor="let country of countries" value="{{ country.countryID }}" [selected]="match.countryID == country.countryID">{{ country.countryName }}</option>
</select>
