<div class="content panel" [ngSwitch]="confirmation">
	<section *ngSwitchCase="true">
		<h2>Bedankt voor uw aanmelding!</h2>
		<p>
			Uw aanmelding is geregistreerd en er zal nu handmatig een goedkeuring plaatsvinden.
			Aangezien het gaat om een handmatige goedkeuring gaat, kan dit even duren.
			Nadat uw aanmelding goedgekeurd is kunt u inloggen met de gegevens zoals opgegeven.
			Hartelijk dank voor uw geduld.
		</p>
		<p>
			Zodra uw aanmelding is goedgekeurd kunt u <a [routerLink]="['..', 'login']">hier inloggen</a>.
		</p>
	</section>
	<section *ngSwitchDefault>
		<form [formGroup]="signupForm" (submit)="submit()" class="row">
			<label class="col-form-label col-12 col-md-4" for="realName">Volledige naam:</label>
			<div class="col-12 col-md-8 mb-3">
				<input type="email" class="form-control" id="realName" formControlName="realName" />
			</div>
			<label class="col-form-label col-12 col-md-4" for="nickName">Nickname:</label>
			<div class="col-12 col-md-8 mb-3">
				<input type="email" class="form-control" id="nickName" formControlName="nickName" />
			</div>
			<label class="col-form-label col-12 col-md-4" for="eMail">E-Mail adres:</label>
			<div class="col-12 col-md-8 mb-3">
				<input type="email" class="form-control" id="eMail" formControlName="eMail" />
			</div>
			<label class="col-form-label col-12 col-md-4" for="password">Password:</label>
			<div class="col-12 col-md-8 mb-3">
				<input type="password" class="form-control" id="password" formControlName="password" />
			</div>
			<div class="col-12 offset-md-4 col-md-8 form-text text-danger" *ngIf="error">
				{{error.message}}
			</div>
			<div class="col-12 d-flex flex-row justify-content-between">
				<a [routerLink]="['..', 'login']">Heeft u al een account?</a>
				<button type="submit" class="btn btn-success">Aanmelden</button>
			</div>
		</form>
	</section>
</div>
