<div class="content panel">
	<form [formGroup]="loginForm" (submit)="submit()" class="row">
		<label class="col-form-label col-12 col-md-4" for="eMail">E-Mail adres:</label>
		<div class="col-12 col-md-8 mb-3">
			<input type="email" class="form-control" id="eMail" formControlName="eMail" />
		</div>
		<label class="col-form-label col-12 col-md-4" for="password">Password:</label>
		<div class="col-12 col-md-8 mb-3">
			<input type="password" class="form-control" id="password" formControlName="password" />
		</div>
		<div class="col-12 offset-md-4 col-md-8 form-text text-danger" *ngIf="error">
			{{error.message}}
		</div>
		<div class="col-12 d-flex flex-row justify-content-between">
			<a [routerLink]="['..', 'signup']">Nieuwe gebruiker?</a>
			<button type="submit" class="btn btn-success">Inloggen</button>
		</div>
	</form>
</div>
