<div class="panel mb-5">
	<h2>{{ stages[0].stageName }}</h2>

	<table class="table">
		<tbody>
			<tr *ngFor="let stage of stages">
				<td class="col-10">
					<app-ko-country-select [match]="stage"></app-ko-country-select>
				</td>
				<td *ngIf="stage.stageID === 2" class="col-2" title="Nummer hoeveel uit welke poule?">
					{{ stage.from }}
				</td>
			</tr>
		</tbody>
	</table>
</div>
