<select #game class="form-select" (change)='onSelected(game.value)'>
	<option value="">&lt;Kies land&gt;</option>
	<option *ngFor="let country of countries" value="{{ country.countryID }}" [selected]="(home ? match.homeID : match.awayID) == country.countryID">{{ country.countryName }}</option>
</select>
