<div class="panel">
	<table class="table">
		<thead>
			<tr>
				<th>ID</th>
				<th>Real name</th>
				<th>Nick name</th>
				<th>E-Mail</th>
				<th>Level</th>
				<th>Answers</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let user of users | async">
				<td>{{user.userID}}</td>
				<td>{{user.realName}}</td>
				<td>{{user.nickName}}</td>
				<td>{{user.eMail}}</td>
				<td>{{user.userLevel}}</td>
				<td>{{user.answers}}</td>
				<td>
					<div class="d-flex gap-1">
						<button type="button" *ngIf="!user.enabled" class="btn btn-sm btn-success" (click)="enableUser(user.userID, true)">Enable</button>
						<button type="button" *ngIf="user.enabled" class="btn btn-sm btn-warning" (click)="enableUser(user.userID, false)">Disable</button>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
