<div class="panel">
	<ul>
		<li>
			<button type="button" class="btn" [routerLink]="['results/groups']">Uitslagen groepsfase</button>
		</li>
		<li>
			<button type="button" class="btn" [routerLink]="['results/ko']">Uitslagen knockoutfase</button>
		</li>
		<li>
			<button type="button" class="btn" (click)="recalcScores()">Scores herberekenen</button>
		</li>
		<li>
			<button type="button" class="btn" [routerLink]="['users']">Gebruikers</button>
		</li>
	</ul>
</div>
