<select #game id="match-{{ match.matchID }}" name="match-{{ match.matchID }}" class="form-select" [selectedIndex]="admin ? match.matchResult : match.answer" (change)='onSelected(game.value)'>
	<option value="0">&lt;Kies uitslag&gt;</option>
	<option value="1">{{ match.homeName }} wint</option>
	<option value="2">{{ match.awayName }} wint</option>
	<option value="3">Gelijk spel</option>
</select>
