<h2>Stand</h2>

<div class="panel">

	<table class="table">
		<thead>
			<tr>
				<th>Speler</th>
				<th class="text-end">Punten</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let user of users">
				<td title="{{ user.realName }}">
					<a *ngIf="inKO" [routerLink]="['/play', 'user', user.userID , 'ko' ]">{{ user.nickName }}</a>
					<a *ngIf="!inKO" [routerLink]="['/play', 'user', user.userID , 'groups' ]">{{ user.nickName }}</a>
				</td>
				<td class="text-end">
					{{ user.score }}
				</td>
			</tr>
		</tbody>
	</table>

</div>
