<div class="panel mb-5">
	<h2>Knockout fases van {{ countries[0].realName }}</h2>

	<div>
		<a [routerLink]="[ '/play', 'user', userid, 'groups' ]">
			Groepsfase
		</a>
	</div>

	<table class="table">
		<thead>
			<tr>
				<th>Fase</th>
				<th>Land</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let country of countries">
				<td>{{ country.stageName }}</td>
				<td class="text-nowrap">
					<img src="/assets/flags/{{ country.countryID }}.png">
					<span [class.text-success]="country.points ?? 0 > 0">
						{{ country.countryName }}
					</span>
				</td>
			</tr>
		</tbody>
	</table>
</div>
