<div class="panel mb-5">
	<h2>Groep {{ group | uppercase }}</h2>

	<table class="table">
		<thead>
			<tr>
				<th class="d-none d-md-table-cell">Datum</th>
				<th>Thuis</th>
				<th>Uit</th>
				<th>Uitslag</th>
				<th class="d-none d-xl-table-cell">Stadion</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let match of matches">
				<td class="d-none d-md-table-cell">{{ match.matchDate | date : 'E d MMM HH:mm' }}</td>
				<td class="text-nowrap"><img src="/assets/flags/{{ match.homeID }}.png"> {{ match.homeName }}</td>
				<td class="text-nowrap"><img src="/assets/flags/{{ match.awayID }}.png"> {{ match.awayName }}</td>
				<td><app-group-result-select [match]="match"></app-group-result-select></td>
				<td class="d-none d-xl-table-cell">{{ match.stadium }}</td>
			</tr>
		</tbody>
	</table>
</div>
