<div class="panel mb-5">
<h2>Knock-out fase</h2>

<table class="table">
	<thead>
		<tr>
			<th class="col-md-9">Fase</th>
			<th class="col-md-3">Compleet</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let stage of stages">
			<td [routerLink]="['/ko-stage', stage.stageID ]">{{ stage.stageName }}</td>
			<td [routerLink]="['/ko-stage', stage.stageID ]">
				<span *ngIf="stage.completed" class="text-success"><i class="bi bi-check-circle"></i> Compleet</span>
				<span *ngIf="!stage.completed" class="text-danger"><i class="bi bi-x-circle"></i> Niet compleet</span>
			</td>
		</tr>
	</tbody>
</table>
</div>
