<div class="panel">
	<table class="table">
		<thead>
			<tr>
				<th class="d-none d-md-table-cell">Stage</th>
				<th class="d-none d-md-table-cell">Datum</th>
				<th>Thuis</th>
				<th>Uit</th>
				<th class="d-none d-xl-table-cell">Stadion</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let match of matches">
				<td class="d-none d-md-table-cell">{{ match.stageName }}</td>
				<td class="d-none d-md-table-cell">{{ match.matchDate | date : 'E d MMM HH:mm' }}</td>
				<td>
					<app-admin-ko-country-select [match]="match" [home]="true"></app-admin-ko-country-select>
					<small>{{ match.homeFrom }}</small>
				</td>
				<td class="">
					<app-admin-ko-country-select [match]="match" [home]="false"></app-admin-ko-country-select>
					<small>{{ match.awayFrom }}</small>
				</td>
				<td class="d-none d-xl-table-cell">{{ match.stadium }}</td>
			</tr>
		</tbody>
	</table>
</div>
