body {
	font-family: 'Arial', sans;
	font-size: 15pt;
	background-image: url(/assets/grass.jpg);
}

h1, h2, h3, h4 {
	font-family: 'Days One', cursive;
}

a:link, a:visited, a:hover, a:active {
	color: var(--bs-color);
}

.content {
	margin-top: 2em;
}

.panel {
	padding: 1rem;
	border-radius: 1rem;
	background-color: var(--bs-body-bg);
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

hr {
	border: 0;
	height: 2px;
	background: var(--hr-color);
}

::selection {
	background: var(--sel-bg);
	color: var(--sel-color);
}
