$light_green: #3aad52;
$ral_green: #35682d;		// RAL 6010, grass green
$dark_green: #6f8b2f;		// Average taken from the grass texture
$darker_green: #062421;


// Before we include bootstrap, override some default colors
$success: chartreuse;
$danger: crimson;

@import "node_modules/bootstrap/scss/bootstrap";

:root {
	--bs-body-color: var(--bs-white);
	--bs-body-bg: #{$dark_green};
	--bs-heading-color: var(--bs-white);
	--hr-color: var(--bs-white);
	--sel-bg: var(--bs-white);
	--sel-color: #{$dark_green};
}


.table {
	// https://github.com/twbs/bootstrap/issues/38779
	--bs-table-color: initial;
	--bs-table-striped-color: initial;
	--bs-table-hover-color: initial;
	--bs-link-color: initial;
}


@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');
@import "styles";
