<section class="container content wrapper">
	<div class="d-flex flex-row justify-content-start gap-3">
		<a href="/"><h1>EK 2024</h1></a>
		<p *ngIf="!!session" class="ms-auto">
			<a [routerLink]="[ '/reglement' ]">Reglement</a>
		</p>
		<p *ngIf="!!session">
			<a href="#" (click)="signout($event)">Afmelden</a>
		</p>
	</div>
	<router-outlet></router-outlet>
</section>
