<div class="panel">

	<h3>Wedstrijdreglement</h3>

	<ol>
		<li>De wedstrijdleiding heeft altijd gelijk.</li>

		<li>Indien de wedstrijdleiding geen gelijk heeft treedt automatisch regel 1 in werking.</li>

		<li>Alleen volledig ingevulde en betaalde poules zijn geldig.</li>

		<li>Bij betaling gaat de deelnemer akkoord met het wedstrijdreglement.</li>

		<li>
			De poule moet voor één uur aanvang van de eerste wedstrijd volledig ingevuld zijn.
			Dus zowel de groepsfase als ook de knockoutfase (achtste finale t/m kampioen) moeten voor aanvang volledig ingevuld worden.
		</li>

		<li>De deelnemer is zelf verantwoordelijk voor het op tijd, goed en volledig invullen van de gegevens.</li>

		<li>
			Voor de eerste ronde moet volgens het Toto-principe de uitslagen van de wedstrijden voorspeld worden.
			Daarna moet voorspeld worden welke landen de achtste finale, de kwartfinale, de halve finale, de finale halen en welk land kampioen wordt.
		</li>

		<li>
			De goede antwoorden in de eerste ronde worden met 1&nbsp;punt beloond.<br>
			Iedere goed voorspeld land in een volgende ronde wordt als volgt beloond:<br>
			<table>
				<tr>
					<th>Fase</th>
					<th class="text-end">Punten</th>
				</tr>
				<tr *ngFor="let stage of stages">
					<td>{{ stage.stageName }}</td>
					<td class="text-end">{{ stage.points }}</td>
				</tr>
			</table>
		</li>

		<li>
			Degene, die aan het eind van alle gespeelde wedstrijden het hoogste aantal punten heeft krijgt de helft van het totale ingelegde geld.
			Nummer twee ontvangt <sup>3</sup>/<sub>10</sub> van het totaal.
			Nummer drie ontvangt een vijfde van de totale inleg.
			Bij een gelijk puntenaantal worden de bedragen van plaatsen opgeteld en gedeeld door het aantal deelnemers met het gelijk aantal punten.
		</li>

		<li>De inleg bedraagt &euro; 5,- per ingevulde poule, te voldoen voor aanvang van het EK, bij Frank.</li>

		<li>U kunt per e-mailadres eenmaal meedoen. Het is toegestaan om met meerdere e-mailadressen mee te doen.</li>

		<li>Als er minder dan 10 deelnemers zijn gaat de poule niet door.</li>

	</ol>

</div>
