<div class="panel mb-5">
	<h2>Groepsfase van {{ matches[0].realName }}</h2>

	<div>
		<a [routerLink]="[ '/play', 'user', userid, 'ko']">
			Knockout fases
		</a>
	</div>

	<table class="table">
		<thead>
			<tr>
				<th class="d-none d-md-table-cell">Datum</th>
				<th>Thuis</th>
				<th>Uit</th>
				<th>Voorspelling</th>
				<th>Uitslag</th>
				<th class="d-none d-xl-table-cell">Stadion</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let match of matches">
				<td class="d-none d-md-table-cell">{{ match.matchDate | date : 'E d MMM HH:mm' }}</td>
				<td class="text-nowrap"><img src="/assets/flags/{{ match.homeID }}.png"> {{ match.homeName }}</td>
				<td class="text-nowrap"><img src="/assets/flags/{{ match.awayID }}.png"> {{ match.awayName }}</td>
				<td class="text-center" [class.text-success]="match.answer === match.matchResult" [class.text-danger]="match.answer !== match.matchResult && match.matchResult !== 0">
					{{ match.answer }}
				</td>
				<td class="text-center">
					<span [class.d-none]="match.matchResult === 0">
						{{ match.matchResult }}
					</span>
				</td>
				<td class="d-none d-xl-table-cell">{{ match.stadium }}</td>
			</tr>
		</tbody>
	</table>
</div>
